<!DOCTYPE html>
<html>
  <head>
    <title>Luminate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<style>
    body {margin: 5% auto;  color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
    code {background: white;}
    a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none;}
    a:hover {border-bottom: 0;}
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
